body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

A{
    color: white;
    text-decoration: none;

}

hi{
    color: white;

}

h2{
    color: white;   

}

footer img{

    width: 150px;
    height: 150px;

}

footer{
display: flex;
justify-content: center;

}

footer a{
    text-align: center;
}
footer p{
    margin-top: 2px;
  
}

.container{

    padding: 0px 50px;

}

h1{
    color: rgb(127, 197, 255);
}
